:root[darkTheme='true']{
    --body-bgc: rgb(0, 0, 0);
    --navBar-bgcolor:rgb(37,37,37);
    --navBar-txcolor:rgb(153, 153, 153);
    --navBar-txcolor-highlight:rgb(255, 255, 255);
    --controlPanel-bgcolor: rgb(51,51,51);
    --controlPanel-txcolor:rgb(200, 200, 200);
    --searchPanel-bgcolor: rgb(66, 66, 66);
    --searchBox--bgcolor: rgb(100, 100, 100);
    --searchPanel--txcolor:rgb(210, 210, 210);
    --previewPanel-bgcolor:rgb(30, 30, 30);
    --statusBar-bgcolor:rgb(0, 108, 180);
    --statusBar-bgcolor-highlight: rgb(31, 138, 210);
    --logo-color1:rgb(210, 210, 210);
    --logo-color2:rgb(210, 210, 210);
    --page-bgcolor:  rgb(37, 37, 37);
    --page-txcolor:rgb(126, 126, 126);
    --page-shadow: rgba(44, 44, 44, 0);
}
:root{
    --body-bgc: rgb(255,255,255);
    --navBar-bgcolor:rgb(225, 225, 225);
    --navBar-txcolor:rgb(70, 70, 70);
    --navBar-txcolor-highlight:rgb(26, 26, 26);
    --controlPanel-bgcolor: rgb(248, 248, 248);
    --controlPanel-txcolor:rgb(26, 26, 26);
    --searchPanel-bgcolor: rgb(235, 235, 235);
    --searchBox--bgcolor: rgb(255, 255, 255);
    --searchPanel--txcolor:rgb(19, 19, 19);
    --previewPanel-bgcolor:rgb(240, 240, 240);
    --statusBar-bgcolor:hsl(159, 50%, 40%);
    --statusBar-bgcolor-highlight:hsl(160, 40%, 50%);
    --logo-color1:#636466;
    --logo-color2:#008061;
    --page-bgcolor:  rgb(255, 255, 255);
    --page-txcolor:rgb(0, 0, 0);
    --page-shadow: rgb(100,100,100);
}

*[hidden=true]{display: none;}
.hidden { display: none} /* display: none */visibility:hidden

#navBar svg,
#statusBar svg,
#controlPanel svg {pointer-events: none;}
svg {pointer-events: none;}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: var(--body-bgc);
    user-select: none;
}

/* navBar */
#navBar {
    box-sizing: border-box;
    position: fixed; 
    left: 0px;
    top: 0px;
    padding: 2px;
    height: calc( 100% - 22px);
    width: 48px;
    background: var(--navBar-bgcolor);
    min-width: 48px;
    color: var(--navBar-txcolor)
}
#navBar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

ul.ERM, ul.ERM li {height: 35px;}
ul.navLinks {height: calc(100% - 35px - 132px);}
ul.settings {height: 132px;}
ul.navLinks li, ul.settings li {height: 44px;}

ul.navLinks li, ul.settings li{
    box-sizing: border-box;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    border-left: 3px solid rgba(255, 255, 255, 0);
    border-right: 3px solid rgba(255, 255, 255, 0);
}
#navBarMove{
    height: 38px;
    width: 2px;
    background: var(--navBar-txcolor);
    border-radius: 1.5px;
    position: absolute;
    left:2px;
    top: 40px;
}

ul.navLinks li[selected=true] {
    color: var(--navBar-txcolor-highlight);
}

ul.navLinks svg, ul.settings svg {
    width:24px; 
    height:24px;
    fill: none; 
    stroke:currentColor;
    /* xmlns: http://www.w3.org/2000/svg;
    viewBox: 0 0 24 24 */
}
ul.navLinks path, ul.settings path{
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.2
}
.st0{fill:none;stroke:var(--logo-color1);stroke-width:0.75;stroke-miterlimit:1;}
.st1{fill:var(--logo-color1);}
.st2{fill:var(--logo-color2);}

#navBar a {
    display: block;
    box-sizing: border-box; 
    text-decoration: none; 
    color: inherit; 
    width: 100%; 
    height: 100%;
    padding: 7px 7px;
}
#navBar a:hover {
    color: var(--navBar-txcolor-highlight);
    box-shadow: 0px 0px 15px var(--controlPanel-bgcolor) inset;
    border-radius: 4px;
}
hr {
    margin: 0px 8px;
    padding: 0;
    border-width: 0.1px;
}
#settingMeun{
    box-sizing: border-box; 
    width: 150px;
    position: fixed;
    bottom: 24px;
    left: 50px;
    background-color: var(--previewPanel-bgcolor);
    border:  1px solid var(--searchPanel-bgcolor);
}
#settingMeun::after  {
    content: "";
    height: 8px;
    width: 8px;
    position: fixed;
    bottom: 41px;
    left:46px;
    transform:rotate(45deg);
    border-left: 1px solid var(--searchPanel-bgcolor);
    border-bottom: 1px solid var(--searchPanel-bgcolor);
    background-color: var(--previewPanel-bgcolor);
    z-index: -19;
}
#settingMeun span.jt {
    border: solid  var(--navBar-txcolor);
    border-width: 0 1px 1px 0;
    display: inline-block;
    width: 5.5px; height: 5.5px;
    transform:rotate(-45deg);
}
#settingMeun span.nr {
    width: 80%; 
    display: inline-block;
}

/* span.point {position:absolute; right:10px;} */
#settingMeun li, #settingMeun a{
    margin: 0px 0px;
    padding: 4px 0px;
    width: 100%;
    border: none;    
    color: var(--controlPanel-txcolor);
    height:auto;
    text-indent: 10px;
}
#settingMeun a:hover {
    border-radius: 0px;
    box-shadow: none;
    color: white;
    background-color: var(--statusBar-bgcolor);
    z-index: 100;
}

/* maincontent */
#mainContent {
    box-sizing: border-box;
    display: flex;
    position: fixed; 
    left: 48px;
    top: 0px;
    height: calc( 100% - 22px);
    width: calc( 100% - 48px);
    z-index: -1;
    vertical-align: top;
    font-size: 0;
}

/* controlPanel */
#controlPanel {
    color: var(--controlPanel-txcolor);
    background-color: var(--controlPanel-bgcolor);
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    width: 490px;
    min-width: 320px;
    overflow-x: hidden;
    font-size: 12px;
    flex-shrink: 0;
}
#resizeBar {
    vertical-align: top;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    width: 5px;
    cursor: w-resize;
    background-color: var(--previewPanel-bgcolor);
    transition: background-color 0.5s ease-in-out 0s;
    flex-shrink: 0;
}
#resizeBar:hover {
    background-color: var(--statusBar-bgcolor-highlight);
    opacity: 0.8;
}
#previewPanel {  
    vertical-align: top;
    position: relative;
    min-width: 600px;
    /* position: relative; */
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    background: var(--previewPanel-bgcolor);
    overflow: auto;
    flex: 1;
}

/* #pageSelecter  */
#tempHolder{
    position: absolute;
    word-wrap:break-word;
    top:0; left:0;
    width: 200mm;
}
#pageSelecter{
    position:fixed; top: 5px; right: 5px;
    font-size: 10px; color: var(--controlPanel-txcolor);
    z-index: 999;
    box-sizing: border-box;
    border-left: 2px solid rgb(114, 114, 114);
    opacity: 0.4;
    text-overflow: ellipsis;
    width: 80px;
}
#pageSelecter:hover{opacity: 1;}
#viewLocation {
    position: absolute;
    box-sizing: border-box;
    z-index: -1;
    top:0;
    left: -2px;
    height: 0;
    width: 100%;
    background-color: rgb(144,144,144,0.2);
    border-left: 3px solid var(--statusBar-bgcolor-highlight);
    transition: height 0.2s ease-in-out;
}
/* a tag for page links */
#pageSelecter a{
    display: block; height: 20px;
    line-height: 20px;
    text-indent: 5px;
    text-decoration: none;
    color: inherit;
}

#scaleHolder {
    width: 100%; 
    height: 100%;
    /* transform: scale(1); */
    transform-origin: top;
    transition: 0.5s;
    user-select: text;
}
::-webkit-scrollbar, ::-webkit-scrollbar-corner{
    width:5px;
    height:5px;
}
::-webkit-scrollbar-thumb {
    border-radius:5px;
    border: 1.5px solid var(--previewPanel-bgcolor);
    background-color:var(--navBar-txcolor);
}

#filePanle,
#eidtPanle,
#codePanle,
#visualPanle{height: 100%;}

#controlPanel div.titleBar {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 100%;
    height: 37px;
    color: var(--controlPanel-txcolor);
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid var(--navBar-bgcolor);
}

#controlPanel div.titleBar > h {
    display: inline-block;
    height: 27px;
    line-height: 27px;
    padding-left: 5px;
    vertical-align: top;
    margin-right: 10px;
}
#controlPanel div.titleBar > div#logList {
    position: absolute;
    box-sizing: border-box;
    top: 32px; left: 134px; right: 35px;
    background-color: var(--controlPanel-bgcolor);
    border: 1px solid var(--previewPanel-bgcolor);
    box-shadow: 0 0 10px var(--navBar-bgcolor);
    z-index: 999;
    padding: 5px;
    border-radius: 5px;
    /* transition: 0.5s; */
}

#controlPanel div.titleBar > div#logList > div{
    display: flex;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    height: 30px;
    /* margin: 3.5px 0; */
    font: inherit;    color: inherit;
    line-height: 30px;
    text-indent: 2px;
    border-radius: 5px;
    cursor: pointer;
}
#controlPanel div.titleBar > div#logList > div:hover{
   background-color: var(--previewPanel-bgcolor);
}
#controlPanel div.titleBar > div#logList > div > span {flex: 1; line-height: 20px;}

#controlPanel div.titleBar > div#logList > div > button {
    height: 20px; 
    color: inherit;
    vertical-align: middle;
    background-color: var(--previewPanel-bgcolor);
    border: 0.5px solid rgb(114, 114, 114, 0.75);
    border-radius: 3px;
}
#controlPanel div.titleBar > div#logList > div > button:hover{
    color: red;
    background-color: rgb(255,0,0,0.2);
    border-color: rgb(255,0,0,0.5);
}


#controlPanel div.titleBar > div#currentLogClickCapture {flex: 1;}
#controlPanel div.titleBar input {    
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    margin: 3.5px 0;
    font: inherit;
    color: inherit;
    line-height: 20px;
    text-indent: 2px;
    vertical-align: middle;/* to avoid chinese chr change line height */
    background: var(--previewPanel-bgcolor);
    outline: none;/* to hide the border when selected */
    border: none; 
    border-bottom: 1px solid rgb(114, 114, 114);
}
#controlPanel div.titleBar input[type="text"]:disabled {
    color: var(--controlPanel-txcolor);
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(114, 114, 114, 0);
}

#controlPanel div.titleBar > a {
    color: inherit;
    box-sizing: border-box;
    display: inline-block;
    align-self: right;
    /* margin-left: 2px; */
    height: 27px;
    width: 27px;
    border-radius: 5px;
    padding: 4.5px;
}
#controlPanel div.titleBar > a:hover{
    box-shadow: 0 0 10px var(--navBar-bgcolor);
}

#controlPanel div.titleBar svg {
    width:18px; 
    height:18px;
    fill: none; 
    stroke:currentColor;
}
#controlPanel div.titleBar path{
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5
}


#controlPanel div.inputArea {
    width: 100%;
    height: calc( 100% - 37px);
    padding: 10px 5px 5px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: var(--controlPanel-txcolor);
    box-sizing: border-box;
}
/* div.inputArea span {display: inline-block; width:50%; height: 30px; line-height: 30px;} */
div.inputArea input{
    display: inline-block;
    width:45%;
    align-self: right;
} 

/* details elemnt that can be folded  */
details { 
    padding:  0 0 0 5px;
    margin-bottom: 10px;
    font-size: 0;
    position: relative;
}
details::before {/* this is a dinamic →  */
    content: '';
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top:10px; right:10px;
    transform: rotate(45deg);
    width: 6px; height: 6px;
    border-right: 1px solid var(--controlPanel-txcolor);
    border-top: 1px solid var(--controlPanel-txcolor);
    transition: transform .2s, top .2s;
}
/*  → became ↓ when summary expanded */
details[open]::before {
    top:8px;
    transform: rotate(135deg);
}
/* summary pointer ↓ → */
summary {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: -5px;
    padding: 6px;
    text-indent: 0;
    border: 1px solid  rgba(114, 114, 114, 0.05);
    border-radius: 4px;
    list-style: none
}
/* delete default style of summary, to replace a dinamic →  */
summary::-webkit-details-marker { display: none }
details[open] summary{border: 1px solid  rgba(114, 114, 114, 0);}


/* fillingField div format */
div.fillingField {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 155px;
    height: 45px;
}

/* format input elemt in fillfield div  */
div.fillingField > input {
    width: 92%; height: 14px;
    padding: 15px 0 4px 0;
    font-size: 11px;
    vertical-align: middle; /* to avoid chinese chr change line height */
    color: var(--controlPanel-txcolor);
    margin-bottom: 18px;
    border: none;
    border-bottom: 1px solid rgb(114, 114, 114);
    outline: none; /* to hide the border when selected */
    background: transparent;
    text-indent: 3px;	
}

/* alin date with other input elemet */
div.fillingField > input[type=date] {text-indent: 2px;}

/* when hover, bottom border change color  */
div.fillingField > input:hover{
    border-bottom: 1px solid var(--statusBar-bgcolor-highlight);
    box-shadow: 0px 0px 1px 0px rgba(114, 114, 114, 0.486);
}

/* when selected, bottom border change color and thicker  */
div.fillingField > input:focus{
    border-bottom: 2px solid var(--statusBar-bgcolor-highlight);
    margin-bottom: 17px; /*  for boder is 1px thicker */
}

/* a label indicating what you wanna input  */
div.fillingField > label {
    position: absolute;
    top: 7px;
    left: 0;
    padding: 10px 0;
    font-size: 9px;
    color: var(--controlPanel-txcolor);
    opacity: 50%;
    pointer-events: none;
    transition: .2s;
    text-indent: 4px;	
    opacity: 0.5;	
}

span.checkWellInstalled{
    box-sizing: border-box;
    display: inline-block;
    height: 24px;
    font-size: 11px;
    line-height: 10px;
    padding: 7px 5px;
    color:  var(--statusBar-bgcolor-highlight);;
}
span.checkWellInstalled > span{
    vertical-align: top;
    padding-left: 10px;
}

/* when input is selected*/
div.fillingField > input:focus ~ label,
/* or something is inputed (i.e. :placeholder is not shown) */
div.fillingField > input:not(:placeholder-shown)  ~ label {
    top: -8px; 
    font-size: 8px;    
}

/* plasceholder text is not shown, placeholder used only for control label behavior */
div.fillingField > input::placeholder{opacity: 0;}

/* modified to suit both dark and light theme */
div.fillingField > input[type=date]::-webkit-calendar-picker-indicator{filter: invert(0.5);}

/* hide a little triagle when input have a data list */
div.fillingField > input[type=text]::-webkit-calendar-picker-indicator{opacity: 0;}


/* below is style for SUBSURFACE PROFILE section  */
/* create a fake profile table with divs  */
#profileTable { position: relative;}

div.TableRow,
div.TableHeader,
div.TableFooter { 
    width: 100%; 
    height: 35px;
    display: flex;
}
div.TableHeader {
    font-size: 9px;
    color:  rgb(114, 114, 114);
}

/* placeholder to be shown when adjust line  */
div.placeHolderLine{
    box-sizing: border-box; margin: 0;
    width: 100%;     height: 35px;
    border: 1px dashed rgb(114, 114, 114, 0.3);
}

/* when darged selectedLine will be add to class list  */
div.draggedLine {
    box-shadow: 0 0 8px 0px rgba(114, 114, 114, 0.486);
    position:absolute; z-index: 999;
}

div.TableFooter {
    font-size: 9px;
    color:  var(--statusBar-bgcolor-highlight);
}
div.TableFooter span:hover{cursor: pointer;}

div.TableFooter:hover, div.TableRow:hover{
    box-shadow: 0 0 3px 0px rgba(114, 114, 114, 0.486);
}

div.TableRow > div.column0:hover ~ div{
    border-top: 1px dashed var(--statusBar-bgcolor-highlight);
    border-bottom: 1px dashed var(--statusBar-bgcolor-highlight);
    padding: 7px 5px;
}
div.TableRow > div.column0:hover{
    border-top: 1px dashed var(--statusBar-bgcolor-highlight);
    border-bottom: 1px dashed var(--statusBar-bgcolor-highlight);
    border-left: 1px dashed var(--statusBar-bgcolor-highlight);
    padding: 7px 5px 7px 4px;
}
div.TableRow > div.column0:hover ~ div.column3{
    border-right: 1px dashed var(--statusBar-bgcolor-highlight);
    padding: 7px 4px 7px 5px;
}
div.TableRow > div.column0:hover ~ div.column3 span.deleteThisLine{bottom: 8px; right: 4px}
div.TableRow > div.column0:hover ~ div.column3 span.editThisLine{bottom: 8px; right: 21px}
div.TableRow > div.column0:hover ~ div.column3 span.labAnalysis{bottom: 8px; right: 21px}


div.TableRow > div.column1:hover,
div.TableRow > div.column2:hover,
div.TableRow > div.column3:hover{
    border: 1px dashed var(--statusBar-bgcolor-highlight);
    padding: 7px 4px;
}

div.column1,
div.column2,
div.column3,
div.column0 {
    box-sizing: border-box; display: inline-block;
    height: 100%;
    font-size: 11px; line-height: 19px;
    padding: 8px 5px;
}

div.column0 {width: 20px; text-align: center;}
div.column1 {width: 90px;}
div.column2 {width: 90px;}
div.column3 {width: calc(100% - 200px)}

div.TableCell{position: relative;}

/* small cycles to addrow before or after  */
span.highCyc, 
span.lowCyc {
    box-sizing: border-box;
    font-size: 0;
    position: absolute;
    text-align: center;
    height: 6px;     width: 6px;
    line-height: 10px;
    border-radius: 3px;
    color: var(--statusBar-bgcolor-highlight);
    left: 6px;
    border: 1px solid var(--statusBar-bgcolor-highlight);
    background-color: var(--controlPanel-bgcolor);
    display: none;
    transition: 0.2s;
}
span.highCyc{top:-3.5px;} span.lowCyc {bottom:-3.5px;}

/* show small cycle when row No hovered  */
div.TableRow > div.column0:hover span.highCyc,
div.TableRow > div.column0:hover span.lowCyc {
    display: block; cursor: pointer;
}
/* change appreance to big cycle when small cycle hovered  */
span.highCyc:hover{
    top:-6.5px; left: 3px; height: 12px; width: 12px;
    font-size: 12px; border-radius: 6px; 
} 
span.lowCyc:hover {
    bottom:-6.5px; left: 3px; height: 12px; width: 12px;
    font-size: 12px; border-radius: 6px;
}

/* row Nomver style  */
span.rowNo{
    display: block; border-radius: 5px;
    width: 100%;    height: 100%;
}
span.rowNo:hover{
    cursor: grab;
    box-shadow: 0 0 2px 0px rgba(114, 114, 114,0.75);
}

/* input field for depth interval  */
div.TableRow input {
    height: 14px;
    font-size: 11px;
    padding: 0;
    text-align: center;
    vertical-align: middle; /* to avoid chinese chr change line height */
    color: var(--controlPanel-txcolor);
    border: none;
    outline: none; /* to hide the border when selected */
    background: transparent;
    border-bottom: 1px solid rgba(114, 114, 114);
}
div.TableRow input.depth {width: 33px; }
div.TableRow input.soilType {width: 56px; }
div.TableRow input.PIDReading {width: 72px; }
/* a span showing lengend  */

div.TableRow span.soilLegend{
    display: inline-block;
    vertical-align: middle;
    height: 14px;
    width: 14px;
    border-bottom: 1px solid rgba(114, 114, 114);
}
div.TableRow input:focus{
    margin-bottom: -1px;
    /* box-shadow: 0 0 5px var(--navBar-bgcolor); */
    /* background-color: var(--page-bgcolor); */
    border-bottom: 2px solid var(--statusBar-bgcolor-highlight);
}
div.TableRow textarea{
    height: 14px;
    width: calc(100% - 35px);
    font-size: 11px;
    padding: 0;
    vertical-align: middle; /* to avoid chinese chr change line height */
    color: var(--controlPanel-txcolor);
    border: none;
    outline: none; /* to hide the border when selected */
    background: transparent;
    border-bottom: 1px solid rgba(114, 114, 114);
    resize:none;
}

span.deleteThisLine, 
span.editThisLine,
span.labAnalysis {
    height: 16px;           width: 16px;
    box-sizing: border-box; display: flex;
    justify-content: center; vertical-align: middle;
    padding: 3px;         border-radius: 4px;
    position: absolute;     bottom: 9px;
}
span.editThisLine   {right: 22px;}
div.TableRow > div.column3:hover span.editThisLine   {bottom: 8px; right: 21px}
span.deleteThisLine {right: 5px;}
div.TableRow > div.column3:hover span.deleteThisLine {bottom: 8px; right: 4px}
span.labAnalysis   {right: 22px;}
div.TableRow > div.column3:hover span.labAnalysis   {bottom: 8px; right: 21px}

div.TableRow svg {
    width:10px;     height:10px;
    fill: none;     stroke:currentColor;
}
div.TableRow svg path{
    stroke-linecap: round;    stroke-linejoin: round;
    stroke-width: 1px
}
div.TableRow span.labAnalysis:hover,
div.TableRow span.editThisLine:hover{
    color: var(--statusBar-bgcolor-highlight);
    background-color:  var(--previewPanel-bgcolor);
    cursor: pointer;
} 
div.TableRow span.deleteThisLine:hover{
    color: red;
    background-color: var(--previewPanel-bgcolor);
    cursor: pointer;
}

span input[type=checkbox] {
    margin: 0; padding: 0;
    height: 10px; width: 10px;
    background-color: none;
    position: relative;
    padding: 0px;
    appearance: none;
    border: 1px solid rgb(144, 144, 144);
    border-radius: 2px;
    background-color: transparent;
    transition: box-shadow 0.2s, border 0.2s, background-color 0.2s;
}
    span input[type="checkbox"]:checked {
        position: relative;
        text-align: center;
        overflow: hidden;
        vertical-align: middle;
        border: 1.5px solid var(--statusBar-bgcolor-highlight);
        background-color: var(--statusBar-bgcolor-highlight);
    }
    span input[type="checkbox"]:checked::before {
        color: rgba(255, 255, 255, 0.8);
    }
    span input[type="checkbox"]:checked::before {
        position: relative;
        display: inline-block;
        top: -4px;
        left: -4px;
        transform: rotate(-45deg);
        font-size: 10px;
        content: "|";
    }
    span input[type="checkbox"]:checked::after {
        color: rgba(255, 255, 255, 0.8);
    }
    span input[type="checkbox"]:checked::after {
        position: relative;
        display: inline-block;
        top: -4px;
        left: 1px;
        transform: rotate(45deg);
        font-size: 10px;
        content: "|";
    }


#statusBar {
    box-sizing: border-box;
    vertical-align: bottom;
    font-size: 12px;
    position: fixed; 
    bottom: 0;
    left: 0;
    height: 22px;
    width: 100%;
    background: var(--statusBar-bgcolor);
    color: white;
    z-index: 50;
}
#statusBar > span {
    vertical-align: top;
    box-sizing: border-box;
    display: inline-block; 
    padding: 4px; 
    height: 100%;
    margin-left: 3px;
    margin-right:3px;
    line-height: 14px;
    font-size: smaller;
}

#statusBar > span:hover {background-color: var(--statusBar-bgcolor-highlight)}

#statusBar > span.right {float: right;}

#zoomOutButtom,
#zoomInButtom,
#paperSize,
#currentPageNo,
#totalPageNo{
    padding: 0 2px;
    vertical-align: top;
    line-height: 14px;
}

#zoomOutButtom,
#zoomInButtom{cursor: pointer; font-size: large;}

#zoomFactorHolder{
    width: 35px; 
    text-align: center;
}
#zoomSliderHolder{
    box-sizing: border-box;
    height: 100%;
    vertical-align: top;
}
#zoomSlider {
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0);
    height: 14px;
    width: 100px;
    margin: 0;
}
::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    box-sizing: border-box;
    transform: translateY(-5px);
    height:11px; 
    width: 4px;
    background: white;
    border: 1px solid var(--controlPanel-bgcolor);
}
::-webkit-slider-runnable-track {
    height:1px; 
    background: white;
}



svg.logs {
    background: var(--page-bgcolor);
    display: block;
    margin: 0.5cm auto;
    pointer-events: auto;
}

svg.logs[selected=true] {
    box-shadow: 
    0 0 0 3px var(--previewPanel-bgcolor), 
    0 0 0 5px rgb(114, 114, 114, 0.7);
}

:root[darkTheme='true'] svg.logs > g{
    filter: invert(1) grayscale(1);
}

